<!-- <form *ngIf="showAddEmployee" class="add-form" (ngSubmit)="onSubmit()"> -->
<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">NAME</label>
    <input type="text" name="name" [(ngModel)]="name" id="name" placeholder="Add Name" />
  </div>
  <div class="form-control">
    <label for="designation">DESIGNATION</label>
    <input type="text" name="designation" [(ngModel)]="designation" id="designation" placeholder="Add Designation" />
  </div>
  <div class="form-control">
    <label for="salary">SALARY</label>
    <input type="text" name="salary" [(ngModel)]="salary" id="salary" placeholder="Add Salary" />
  </div>
  <div class="form-control">
    <label for="bio">BIO</label>
    <input type="text" name="bio" [(ngModel)]="bio" id="bio" placeholder="Describe" />
  </div>
  <div class="form-control">
    <label for="day">Date Of Birth</label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Date" />
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Profile</label>
    <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
  </div>
  <input type="submit" value="Add Your Profile" class="btn btn-block" />
</form>
